<!--<div>-->
<!--  <div class="pick-bar">-->
<!--    <nz-date-picker [(ngModel)]="startDate"></nz-date-picker>-->
<!--    <nz-date-picker [(ngModel)]="endDate"></nz-date-picker>-->
<!--    <button nz-button nzType="primary" type="button" (click)="fetchRevenue()">获取</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <nz-table #revenueTable-->
<!--              [nzData]="filteredStaffList"-->
<!--              [nzFrontPagination]="true"-->
<!--              [nzPageSize]="10"-->
<!--              [nzShowPagination]="true"-->
<!--              nzTableLayout="fixed"-->
<!--              ngSkipHydration>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        &lt;!&ndash;        <th>Id</th>&ndash;&gt;-->
<!--        <th>姓名</th>-->
<!--        <th>入职日期</th>-->
<!--        <th>离职日期</th>-->
<!--        <th>操作</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let staff of staffTable.data">-->
<!--        &lt;!&ndash;        <td>{{ staff.id }}</td>&ndash;&gt;-->
<!--        <td>{{ staff.name }}</td>-->
<!--        <td>{{ staff.onBoardDate }}</td>-->
<!--        <td>{{ staff.offBoardDate }}</td>-->
<!--        <td>-->
<!--          <a nz-button nzType="primary" (click)="editStaff(staff); $event.stopPropagation();">编辑</a>-->
<!--          <nz-divider nzType="vertical"></nz-divider>-->
<!--          <a nz-button nzType="primary" (click)="removeStaff(staff.id); $event.stopPropagation();">删除</a>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </nz-table>-->

<!--  </div>-->
<!--</div>-->
