<div class="revenue-panel">
  <div class="pick-bar">
    <nz-date-picker [(ngModel)]="startDate"></nz-date-picker>
    <nz-date-picker class="margin-left-small"  [(ngModel)]="endDate"></nz-date-picker>
    <button nz-button nzType="primary" type="button" (click)="fetchRevenue()">获取</button>
  </div>

  <div>
    <nz-descriptions class="description-board margin-top-small" nzTitle="统计" nzBordered ngSkipHydration="">
      <nz-descriptions-item nzTitle="总客户数:">{{revenue?.totalCustomerCount || '0'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="新客数：" >{{revenue?.totalNewCustomerCount || '0'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="总预约数：">{{revenue?.totalAppointmentCount || '0'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="总收入；">{{revenue?.totalRevenue || '0.00'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="最火热预约项目：">
        <div *ngFor="let item of revenue?.top5TreatmentItemList">
          <span> 项目名称: {{ item.itemName}}</span> <span> -- </span><span>总次数: {{ item.itemCount }}</span>
          <br/>
        </div>
      </nz-descriptions-item>

    </nz-descriptions>

  </div>
</div>
