
<div>
  <nz-descriptions class="description-board" nzTitle="客户信息" nzBordered>
    <nz-descriptions-item nzTitle="Id">{{customer?.id || 'N/A'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="姓名" >{{customer?.name || 'N/A'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="联系电话">{{customer?.contactPhone || 'N/A'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注"  [nzSpan]="3">{{customer?.customerNote || 'N/A'}}</nz-descriptions-item>
  </nz-descriptions>
  <br>
  <br>

  <div>

<!--      <nz-descriptions class="description-board" nzTitle="套餐信息" nzBordered></nz-descriptions>-->
      <h4>套餐信息</h4>
      <nz-form-label class="margin-top-small tips">只显示可用</nz-form-label>
      <nz-switch [(ngModel)]="availableBundleOnly"  (ngModelChange)="filterBundles($event)" class="margin-left-small"></nz-switch>

  </div>


  <nz-table #bundleTable [nzData]="filteredBdunleList"  nzTableLayout="fixed" class="margin-top-small">
    <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Id</th>
      <th>套餐</th>
      <th>购买日期</th>
      <th>价值</th>
      <th>可用</th>
      <th colspan="2">备注</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let bundle of bundleTable.data">
      <tr>
        <td [nzExpand]="expandSet.has(bundle.id)" (nzExpandChange)="onExpandChange(bundle.id, $event)"></td>
        <td>{{ bundle.id }}</td>
        <td>{{ bundle.bundlePackageName }}</td>
        <td>{{ bundle.purchaseDate }}</td>
        <td>{{ bundle.bundleValue }}</td>
        <td>{{ bundle.active }}</td>
        <td>{{ bundle.bundleNote }}</td>
      </tr>
      <tr [nzExpand]="expandSet.has(bundle.id)">
          <nz-row>
            <nz-col [nzSpan]="2"><strong></strong></nz-col>
            <nz-col [nzSpan]="5"><strong>详细信息</strong></nz-col>
            <nz-col [nzSpan]="2"><strong></strong></nz-col>
            <nz-col [nzSpan]="10"><strong>项目</strong></nz-col>
            <nz-col [nzSpan]="5"><strong>剩余次数</strong></nz-col>
          </nz-row>
          <nz-row *ngFor="let detail of bundle.packageDetailList">
            <nz-col [nzSpan]="9"><strong></strong></nz-col>
            <nz-col [nzSpan]="10">{{detail.treatmentItem.name}}</nz-col>
            <nz-col [nzSpan]="5">{{detail.remainCount}}</nz-col>
          </nz-row>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
  <br>
  <nz-divider></nz-divider>
  <h4>预约(已完成)历史记录</h4>
  <nz-table #completedAppointmentTable [nzData]="appointmentPaymentHistoryList"  nzTableLayout="fixed">
    <thead>
    <tr>
      <th></th>
      <th>项目</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>付款</th>
      <th>套餐支付</th>

    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let appointment of completedAppointmentTable.data ; index as i">
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ appointment.treatmentItemName }}</td>
        <td>{{appointment.startTime }}</td>
        <td>{{ appointment.endTime }}</td>
        <td>{{ appointment.totalAmount }}</td>
        <td>{{ appointment.paidByBundle }}</td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</div>

