<div class="appointment-container">
  <form [formGroup]="appointmentFrmGroup">
    <mat-form-field>
      <mat-label>姓名：</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>电话：</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select Option" formControlName="treatmentItem" >
        <mat-option *ngFor="let item of treatmentItems" [value]="item" >{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="updateAppointment()">Save</button>
  </form>
</div>


