<div class="appointment-container">
    <form nz-form [formGroup]="appointmentFrmGroup" (ngSubmit)="onSubmit()">

        <div nz-row>
            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label class="white-label">姓名：</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="customer"
                                   class="customer-selector">
                            <nz-option *ngFor="let customer of customerList" [nzValue]="customer"
                                       [nzLabel]="customer.firstName + ' '+ customer.middleName + ' ' + customer.lastName "></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>电话：</nz-form-label>
                        <input class="appointment-field-input-normal" type="number" nz-input formControlName="phone"
                               placeholder="phone number">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>项目：</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                                   formControlName="treatmentItem"
                                   class="treatmentItem-selector">
                            <nz-option *ngFor="let item of treatmentItems" [nzValue]="item"
                                       [nzLabel]="item.name "></nz-option>
                        </nz-select>
                    </nz-form-control>

                </nz-form-item>
            </div>

        </div>

        <div nz-row>
            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>开始时间：</nz-form-label>
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                formControlName="startTime"
                                nzPlaceHolder="Start"
                        ></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>结束时间：</nz-form-label>
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                formControlName="endTime"
                                nzPlaceHolder="End"
                        ></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>类型：</nz-form-label>
                        <input class="appointment-field-input-normal" nz-input formControlName="type" placeholder="type">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row class="charge-info-row">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>费用：</nz-form-label>
                        <input class="appointment-field-input-normal" type="number" nz-input formControlName="charge" style="width:70%;" nzPlaceHolder="fee"/>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="2">
            </div>

            <div nz-col >
                <label nz-checkbox>特价</label>
            </div>
            <div nz-col >
                <label nz-checkbox>套餐</label>
            </div>
            <div nz-col >
                共<label nz-checkbox>几次</label>
            </div>
            <div nz-col >
                这次为第共<label nz-checkbox></label>次
            </div>
        </div>

        <nz-form-item>
            <nz-form-control>
                <nz-form-label>付款方式：</nz-form-label>
                <nz-select formControlName="paymentMethod" nzPlaceHolder="Select a payment method">
                    <nz-option *ngFor="let item of treatmentItems" [nzValue]="item" [nzLabel]="item.name "
                               style="width:50%;"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <!--    <mat-form-field>-->
        <!--    <mat-label>费用：</mat-label>-->
        <!--    <input matInput formControlName="charge">-->
        <!--  </mat-form-field>-->

        <!--    <mat-form-field>-->
        <!--      <mat-label>付款方式：</mat-label>-->
        <!--      <input matInput formControlName="paymentMethod">-->
        <!--    </mat-form-field>-->

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="staff"
                   class="staff-selector">
            <nz-option *ngFor="let staff of staffList" [nzValue]="staff" [nzLabel]="staff.firstName "></nz-option>
        </nz-select>

        <mat-form-field>
            <mat-label>staffBonus：</mat-label>
            <input matInput formControlName="staffBonus">
        </mat-form-field>
        <button type="submit">保存</button>
    </form>
</div>


