/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

//color var

$color-theme:#72722F;



$color-error:#E00000;
$color-selected:#FD8D14;
$color-base:#E00000;

$color-button-blue:#1F79DB;
$color-button-pink:#DA8AFF;


$color-grey1:#828282;
$color-grey3:#B5B5B5;
$color-grey3:#E0E0E0;

