<mat-form-field>
  <mat-label>Angular forms</mat-label>
  <input matInput [matDatepicker]="picker1" [formControl]="selectedDateControl">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<div class="scheduler">
  <div class="timeline">
    <div *ngFor="let timeSlot of timeSlots" class="time-slot">
      {{ timeSlot.time }}
    </div>
  </div>
  <div class="task-board-container">

    <div *ngFor="let employeeTask of staffTasks" class="board-test">

      <div class="employee-task-board">
        <div class="employee-name">{{ employeeTask.employeeName}}</div>
        <div class="board-cell-grid">
          <div *ngFor="let cell of gridMatrix" class="cell no-cursor" [ngStyle]="calculateHeight(employeeTask.appointments)" (click)="addAppointment(employeeTask.employeeId)"></div>
        </div>
      </div>
      <div *ngFor="let appointment of employeeTask.appointments" class="appointment no-cursor"
           (click)="editAppointment(employeeTask.employeeId, appointment.appointmentId)"
           [ngStyle]="calculateAppointmentStyle(appointment)"> {{appointment.customerName}}
      </div>
    </div>


  </div>
</div>
