.customer-list-panel {
 margin-left: 10%;
  width: 80%;
}
.search-bar{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.customer-list-header {
  margin-top: 10px;
  margin-bottom: 10px;
}


.customer-list-body {
  cursor: pointer;
}


.bundle-list {
  padding-left: 20px;
}

.add-new-customer {
  margin-left: 50px;
}
